nodered/motorhome/Aircon-view-flow.json
[
    {
        "id": "383574f123395ae4",
        "type": "tab",
        "label": "Aircon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "671b6f749f63ae79",
        "type": "junction",
        "z": "383574f123395ae4",
        "x": 1420,
        "y": 400,
        "wires": [
            [
                "0ac94056b327f506"
            ]
        ]
    },
    {
        "id": "7d3e029c345b44a2",
        "type": "junction",
        "z": "383574f123395ae4",
        "x": 1390,
        "y": 90,
        "wires": [
            [
                "0ac94056b327f506"
            ]
        ]
    },
    {
        "id": "b612ccbd3958e480",
        "type": "mqtt in",
        "z": "383574f123395ae4",
        "name": "Aircon opperating mode in",
        "topic": "service/truma/control_status/aircon_operating_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 90,
        "wires": [
            [
                "8b6be70d55d6f5d8",
                "e4eb399eb7772fbe"
            ]
        ]
    },
    {
        "id": "1a7c803bfd4a871d",
        "type": "mqtt out",
        "z": "383574f123395ae4",
        "name": "Aircon opperating mode out",
        "topic": "service/truma/set/aircon_operating_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc4ba79e8dc93fb5",
        "x": 2230,
        "y": 200,
        "wires": []
    },
    {
        "id": "dccdb0b060f7743b",
        "type": "mqtt in",
        "z": "383574f123395ae4",
        "name": "Aircon ventilation mode in",
        "topic": "service/truma/control_status/aircon_vent_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "7f096aacfcf39274",
                "9a39ec45045207d7"
            ]
        ]
    },
    {
        "id": "f344a03e45ddfc33",
        "type": "mqtt out",
        "z": "383574f123395ae4",
        "name": "Aircon ventilation mode out",
        "topic": "service/truma/set/aircon_vent_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc4ba79e8dc93fb5",
        "x": 2230,
        "y": 310,
        "wires": []
    },
    {
        "id": "382f9d3c1418ed2c",
        "type": "mqtt in",
        "z": "383574f123395ae4",
        "name": "Aircon target temperature in",
        "topic": "service/truma/control_status/target_temp_aircon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "665b16f591fabcd0",
                "e21a3ed52a2ae925"
            ]
        ]
    },
    {
        "id": "ce5e785b12d80cb2",
        "type": "mqtt out",
        "z": "383574f123395ae4",
        "name": "Aircon target temperature out",
        "topic": "service/truma/set/target_temp_aircon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc4ba79e8dc93fb5",
        "x": 2230,
        "y": 260,
        "wires": []
    },
    {
        "id": "eaaeefd1882163b1",
        "type": "comment",
        "z": "383574f123395ae4",
        "name": "Turn off Truma heater",
        "info": "Turn off truma heater",
        "x": 710,
        "y": 470,
        "wires": []
    },
    {
        "id": "28e6ddcd5e0e67a6",
        "type": "template",
        "z": "383574f123395ae4",
        "name": "°c",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}°c",
        "output": "str",
        "x": 1090,
        "y": 330,
        "wires": [
            [
                "b4ee6fb567aa42c7"
            ]
        ]
    },
    {
        "id": "665b16f591fabcd0",
        "type": "switch",
        "z": "383574f123395ae4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "3c48f08cb03d85e9"
            ],
            [
                "1044e92d509278fe"
            ]
        ]
    },
    {
        "id": "1044e92d509278fe",
        "type": "change",
        "z": "383574f123395ae4",
        "name": "set payload to \\n flow.target_temp_aircon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "target_temp_aircon",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 330,
        "wires": [
            [
                "3c48f08cb03d85e9"
            ]
        ]
    },
    {
        "id": "18719ab420d88fc1",
        "type": "function",
        "z": "383574f123395ae4",
        "name": "init from flow|payload",
        "func": "if (msg.topic == undefined || msg.topic == '') {\n    node.error('topic not defined');\n    return;\n}\n\nmsg.payload = flow.get(msg.topic) || msg.payload;\n\nif (msg.payload == undefined) {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"water-on-time\") == undefined\n    || flow.get(\"water-schedule-enabled\") == undefined)  {\n    flow.set(\"water-schedule-enabled\", false);\n}\n",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 330,
        "wires": [
            [
                "1044e92d509278fe"
            ]
        ]
    },
    {
        "id": "15bac7bfa039bd21",
        "type": "inject",
        "z": "383574f123395ae4",
        "name": "Init State: target_temp_aircon",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "target_temp_aircon",
        "payload": "16",
        "payloadType": "num",
        "x": 170,
        "y": 330,
        "wires": [
            [
                "18719ab420d88fc1"
            ]
        ]
    },
    {
        "id": "8b6be70d55d6f5d8",
        "type": "ui-button-group",
        "z": "383574f123395ae4",
        "name": "Mode",
        "group": "4468fbed511e3b76",
        "order": 1,
        "width": "8",
        "height": "1",
        "label": "Mode&nbsp;&nbsp;&nbsp;",
        "className": "my-group-button-compact white-label my-btn-border my-btn-separator mr-1",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "Off",
                "icon": "power-off",
                "value": "off",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Vent",
                "icon": "fan",
                "value": "vent",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Cool",
                "icon": "snowflake",
                "value": "cool",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Hot",
                "icon": "thermometer-high",
                "value": "hot",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Auto",
                "icon": "thermometer-auto",
                "value": "auto",
                "valueType": "str",
                "color": "#cccc00"
            }
        ],
        "topic": "aircon_operating_mode",
        "topicType": "str",
        "x": 900,
        "y": 90,
        "wires": [
            [
                "226f296cd30576e3",
                "7d3e029c345b44a2"
            ]
        ]
    },
    {
        "id": "7f096aacfcf39274",
        "type": "ui-button-group",
        "z": "383574f123395ae4",
        "name": "",
        "group": "4468fbed511e3b76",
        "order": 3,
        "width": "8",
        "height": "1",
        "label": "Fan Speed",
        "className": "my-group-button-compact white-label my-btn-border my-btn-separator",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "Low",
                "icon": "fan-speed-1",
                "value": "low",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Mid",
                "icon": "fan-speed-2",
                "value": "mid",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "High",
                "icon": "fan-speed-3",
                "value": "high",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Night",
                "icon": "moon-waxing-crescent",
                "value": "night",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Auto",
                "icon": "fan-auto",
                "value": "auto",
                "valueType": "str",
                "color": "#cccc00"
            }
        ],
        "topic": "aircon_vent_mode",
        "topicType": "str",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "671b6f749f63ae79",
                "1725364db68b86d8"
            ]
        ]
    },
    {
        "id": "3c48f08cb03d85e9",
        "type": "ui-slider",
        "z": "383574f123395ae4",
        "group": "4468fbed511e3b76",
        "name": "TargetTemp",
        "label": "<span style=\"margin-left:0px\">Target Temp</span",
        "tooltip": "",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "target_temp_aircon",
        "topicType": "str",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": "16",
        "max": "30",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 920,
        "y": 270,
        "wires": [
            [
                "c0eb22ee8be47e00",
                "28e6ddcd5e0e67a6"
            ]
        ]
    },
    {
        "id": "b4ee6fb567aa42c7",
        "type": "ui-text",
        "z": "383574f123395ae4",
        "group": "4468fbed511e3b76",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "Temp value",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1260,
        "y": 330,
        "wires": []
    },
    {
        "id": "e21a3ed52a2ae925",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "ac target temp in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 210,
        "wires": []
    },
    {
        "id": "9a39ec45045207d7",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "ac vent mode in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 410,
        "y": 470,
        "wires": []
    },
    {
        "id": "e4eb399eb7772fbe",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "ac opp mode in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 150,
        "wires": []
    },
    {
        "id": "c0eb22ee8be47e00",
        "type": "trigger",
        "z": "383574f123395ae4",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1090,
        "y": 270,
        "wires": [
            [
                "76755287f4f45442"
            ]
        ]
    },
    {
        "id": "76755287f4f45442",
        "type": "change",
        "z": "383574f123395ae4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "target_temp_aircon",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 270,
        "wires": [
            [
                "0ac94056b327f506",
                "773d6033ebb7ee1e"
            ]
        ]
    },
    {
        "id": "8c2ea3157da02d51",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "aircon output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload & \", topic:\" & topic",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2170,
        "y": 360,
        "wires": []
    },
    {
        "id": "d1513cdbfa255222",
        "type": "inject",
        "z": "383574f123395ae4",
        "name": "Init State: target_temp_aircon",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "target_temp_aircon",
        "payload": "19",
        "payloadType": "num",
        "x": 1010,
        "y": 210,
        "wires": [
            [
                "76755287f4f45442"
            ]
        ]
    },
    {
        "id": "9befe4acd5e4d473",
        "type": "inject",
        "z": "383574f123395ae4",
        "name": "Init State: aircon_operating_mode",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "aircon_operating_mode",
        "payload": "cool",
        "payloadType": "str",
        "x": 1230,
        "y": 130,
        "wires": [
            [
                "0ac94056b327f506"
            ]
        ]
    },
    {
        "id": "0ac94056b327f506",
        "type": "join",
        "z": "383574f123395ae4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1550,
        "y": 270,
        "wires": [
            [
                "3abc4a001a19a64c",
                "31ef8282e15cd683"
            ]
        ]
    },
    {
        "id": "aa2389789c9d436d",
        "type": "switch",
        "z": "383574f123395ae4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "aircon_operating_mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "target_temp_aircon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aircon_vent_mode",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1960,
        "y": 270,
        "wires": [
            [
                "1a7c803bfd4a871d",
                "9fb1efc3ff15691f"
            ],
            [
                "ce5e785b12d80cb2"
            ],
            [
                "f344a03e45ddfc33"
            ],
            [
                "8c2ea3157da02d51"
            ]
        ]
    },
    {
        "id": "3abc4a001a19a64c",
        "type": "rbe",
        "z": "383574f123395ae4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1690,
        "y": 270,
        "wires": [
            [
                "2244d04be9c465e4",
                "3573ef86332498fc"
            ]
        ]
    },
    {
        "id": "6155a7f520fd8c10",
        "type": "mqtt out",
        "z": "383574f123395ae4",
        "name": "heating mode out",
        "topic": "service/truma/set/heating_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc4ba79e8dc93fb5",
        "x": 2420,
        "y": 460,
        "wires": []
    },
    {
        "id": "8c6caae74d8decd6",
        "type": "change",
        "z": "383574f123395ae4",
        "name": "set payload to off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 460,
        "wires": [
            [
                "1167257f633c69bd",
                "6155a7f520fd8c10"
            ]
        ]
    },
    {
        "id": "1167257f633c69bd",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "heating off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"heating off\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2390,
        "y": 530,
        "wires": []
    },
    {
        "id": "9fb1efc3ff15691f",
        "type": "change",
        "z": "383574f123395ae4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ac-mode-changed",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2244d04be9c465e4",
        "type": "split",
        "z": "383574f123395ae4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "property": "payload",
        "x": 1830,
        "y": 270,
        "wires": [
            [
                "aa2389789c9d436d"
            ]
        ]
    },
    {
        "id": "226f296cd30576e3",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 50,
        "wires": []
    },
    {
        "id": "1725364db68b86d8",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "31ef8282e15cd683",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 350,
        "wires": []
    },
    {
        "id": "3573ef86332498fc",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 420,
        "wires": []
    },
    {
        "id": "773d6033ebb7ee1e",
        "type": "debug",
        "z": "383574f123395ae4",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 390,
        "wires": []
    },
    {
        "id": "4d0e99c10612d98e",
        "type": "comment",
        "z": "383574f123395ae4",
        "name": "Description",
        "info": "# Aircon\nThis flow controls the truma aircon via an inetbox2mqtt microcontroller\n\n",
        "x": 70,
        "y": 30,
        "wires": []
    },
    {
        "id": "5c34ac9fdde362cf",
        "type": "comment",
        "z": "383574f123395ae4",
        "name": "Date: 22/Jul/2025",
        "info": "# Fridge\nThis flow turns the Cerbo GX relay 2 on or off either manualy or automaticaly.\nRelay 2 is supplies a 12v to the Fridges S+ input, signaling to use power from the battery/solar.\n\nThis is depentent on how your fridge is wired.\n\n## 3 modes\n - On (manual)\n - Off (manual)\n - Auto\n\n**On** and **off** turn relay 2 on an off manually.\n**Auto** will automaticaly determin when to turn the relay on or off based on the battery level\n\n**Auto* Switches the fridge to battery when there is no shore power(ehu) and the battery charge level reaches 98% or above.\n\n**Auto** Switches the fridge to off When the battery level goes below 95%",
        "x": 230,
        "y": 30,
        "wires": []
    },
    {
        "id": "cc4ba79e8dc93fb5",
        "type": "mqtt-broker",
        "name": "cerbo",
        "broker": "192.168.10.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4468fbed511e3b76",
        "type": "ui-group",
        "name": "Aircon",
        "page": "0e94453eb43f91ea",
        "width": "16",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0e94453eb43f91ea",
        "type": "ui-page",
        "name": "Motorhome",
        "ui": "563c3834aa95d21c",
        "path": "/grace",
        "icon": "rv-truck",
        "layout": "grid",
        "theme": "b4dc292b8e533b16",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "8"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "16"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "16"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "16"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "true"
    },
    {
        "id": "563c3834aa95d21c",
        "type": "ui-base",
        "name": "Motorhome",
        "path": "/dashboard",
        "appIcon": "rv-truck",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "none",
        "navigationStyle": "none",
        "titleBarStyle": "hidden",
        "showReconnectNotification": false,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": false,
        "allowInstall": true
    },
    {
        "id": "b4dc292b8e533b16",
        "type": "ui-theme",
        "name": "dark theme",
        "colors": {
            "surface": "#282828",
            "primary": "#0094ce",
            "bgPage": "#00374a",
            "groupBg": "#171821",
            "groupOutline": "#323344"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "2px",
            "groupGap": "6px",
            "groupBorderRadius": "12px",
            "widgetGap": "4px"
        },
        "info": "0094CE\n\n00374A\n\n171821"
    }
]