nodered/motorhome/S-Plus-Fridge-flow.json
[
    {
        "id": "d9d2020a42773879",
        "type": "tab",
        "label": "Fridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4667827c05e47462",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "98 - on",
        "props": [
            {
                "p": "payload.value",
                "v": "98",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1150,
        "y": 40,
        "wires": [
            [
                "09ceb570e1629730"
            ]
        ]
    },
    {
        "id": "c6687defdacc2087",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "95 - off",
        "props": [
            {
                "p": "payload.value",
                "v": "95",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1150,
        "y": 90,
        "wires": [
            [
                "09ceb570e1629730"
            ]
        ]
    },
    {
        "id": "5a7092155d57a77d",
        "type": "mqtt in",
        "z": "d9d2020a42773879",
        "name": "leisure battery soc",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "6fb2766633c56f10",
                "09ceb570e1629730"
            ]
        ]
    },
    {
        "id": "e5372f14a478682d",
        "type": "mqtt in",
        "z": "d9d2020a42773879",
        "name": "Shore power",
        "topic": "N/c0619ab5fb12/vebus/276/Ac/ActiveIn/ActiveInput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "a5d6a272f2eede0a",
                "a9c6110375b5fb2e"
            ]
        ]
    },
    {
        "id": "a5d6a272f2eede0a",
        "type": "switch",
        "z": "d9d2020a42773879",
        "name": "1: fridge mode is auto",
        "property": "fridge-mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "e5009c2466c9099e"
            ]
        ]
    },
    {
        "id": "9e534ed2d418287f",
        "type": "switch",
        "z": "d9d2020a42773879",
        "name": "1: on HU \\n 2: not on HU",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "67ec18aa594c7577",
                "14c47df1db50f47a"
            ],
            [
                "e0534dcd920b1c92",
                "14c47df1db50f47a"
            ]
        ]
    },
    {
        "id": "67ec18aa594c7577",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "unsubscribe from soc",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "N/c0619ab5fb12/battery/512/Soc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 130,
        "wires": [
            [
                "5a7092155d57a77d"
            ]
        ]
    },
    {
        "id": "e0534dcd920b1c92",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "subscribe to soc",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "N/c0619ab5fb12/battery/512/Soc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 250,
        "wires": [
            [
                "5a7092155d57a77d"
            ]
        ]
    },
    {
        "id": "09ceb570e1629730",
        "type": "switch",
        "z": "d9d2020a42773879",
        "name": "1: => 98 \\n 2: <= 95",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "98",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "95",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 200,
        "wires": [
            [
                "5e42add7cbbd929b"
            ],
            [
                "cd879b368bb05e68"
            ]
        ],
        "outputLabels": [
            "Run Fridge from S+",
            ""
        ]
    },
    {
        "id": "bb8c9a548e18d0de",
        "type": "rbe",
        "z": "d9d2020a42773879",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1780,
        "y": 340,
        "wires": [
            [
                "503961b3eeca3c55"
            ]
        ]
    },
    {
        "id": "6baf8dbbd9917de9",
        "type": "mqtt out",
        "z": "d9d2020a42773879",
        "name": "turn fridge relay 1 on/off",
        "topic": "W/c0619ab5fb12/system/0/Relay/1/State",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc4ba79e8dc93fb5",
        "x": 2210,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e42add7cbbd929b",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "Set payload to on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 180,
        "wires": [
            [
                "bb8c9a548e18d0de"
            ]
        ]
    },
    {
        "id": "cd879b368bb05e68",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "set payload to off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 230,
        "wires": [
            [
                "bb8c9a548e18d0de"
            ]
        ]
    },
    {
        "id": "503961b3eeca3c55",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "convert payload \\n to json",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "{\"value\":1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "auto",
                "fromt": "str",
                "to": "{\"value\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 340,
        "wires": [
            [
                "2bd202665963aac3",
                "6baf8dbbd9917de9"
            ]
        ]
    },
    {
        "id": "e5009c2466c9099e",
        "type": "rbe",
        "z": "d9d2020a42773879",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.value",
        "topi": "topic",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "9e534ed2d418287f"
            ]
        ]
    },
    {
        "id": "a9c6110375b5fb2e",
        "type": "debug",
        "z": "d9d2020a42773879",
        "name": "HU active",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "14c47df1db50f47a",
        "type": "debug",
        "z": "d9d2020a42773879",
        "name": "subscribe/unsubscribe",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "6fb2766633c56f10",
        "type": "debug",
        "z": "d9d2020a42773879",
        "name": "soc value",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1360,
        "y": 120,
        "wires": []
    },
    {
        "id": "2bd202665963aac3",
        "type": "debug",
        "z": "d9d2020a42773879",
        "name": "final fridge payload",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 280,
        "wires": []
    },
    {
        "id": "f62384f36b0d126d",
        "type": "mqtt in",
        "z": "d9d2020a42773879",
        "name": "Fridge relay state",
        "topic": "N/c0619ab5fb12/system/0/Relay/1/State",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc4ba79e8dc93fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "6d47383cb02df286"
            ]
        ]
    },
    {
        "id": "6103c65b1d028d4c",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "off",
        "props": [
            {
                "p": "payload.value",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "6d47383cb02df286"
            ]
        ]
    },
    {
        "id": "68e47fb094e810c7",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "on",
        "props": [
            {
                "p": "payload.value",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "6d47383cb02df286"
            ]
        ]
    },
    {
        "id": "3d03043c700c0c3e",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "set fridge-mode auto",
        "rules": [
            {
                "t": "set",
                "p": "fridge-mode",
                "pt": "global",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "34569a98f3393fd4",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "set fridge-mode manual",
        "rules": [
            {
                "t": "set",
                "p": "fridge-mode",
                "pt": "global",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "699e226d7fb21e2d",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "auto",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "3d03043c700c0c3e"
            ]
        ]
    },
    {
        "id": "5ca5ef75142f6395",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "manual",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "34569a98f3393fd4"
            ]
        ]
    },
    {
        "id": "95acd85c4e54f5a4",
        "type": "change",
        "z": "d9d2020a42773879",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fridge-mode",
                "pt": "global",
                "to": "payload = \"auto\" ? \"auto\" : \"manual\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "bb8c9a548e18d0de"
            ]
        ]
    },
    {
        "id": "ece69f9812c15009",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 630,
        "y": 390,
        "wires": [
            [
                "95acd85c4e54f5a4"
            ]
        ]
    },
    {
        "id": "a782ddbc19135c6e",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 630,
        "y": 430,
        "wires": [
            [
                "95acd85c4e54f5a4"
            ]
        ]
    },
    {
        "id": "378d1c7d8687ef44",
        "type": "inject",
        "z": "d9d2020a42773879",
        "name": "auto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 630,
        "y": 470,
        "wires": [
            [
                "95acd85c4e54f5a4"
            ]
        ]
    },
    {
        "id": "434621e9e6367595",
        "type": "ui-button-group",
        "z": "d9d2020a42773879",
        "name": "",
        "group": "58f8ed25a024fb50",
        "order": 2,
        "width": "8",
        "height": 1,
        "label": "Fridge (Solar)",
        "className": "my-group-button-compact white-label my-btn-border my-btn-separator",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "icon": "power-off",
                "value": "off",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "On",
                "icon": "power-on",
                "value": "on",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Auto",
                "icon": "",
                "value": "auto",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "95acd85c4e54f5a4"
            ]
        ]
    },
    {
        "id": "671de09bbc93c0f7",
        "type": "link in",
        "z": "d9d2020a42773879",
        "name": "link in fridge",
        "links": [
            "4bc18d94fdbad360"
        ],
        "x": 765,
        "y": 290,
        "wires": [
            [
                "95acd85c4e54f5a4"
            ]
        ]
    },
    {
        "id": "2b0bd9a566abcc0d",
        "type": "link out",
        "z": "d9d2020a42773879",
        "name": "link out fridge",
        "mode": "link",
        "links": [
            "9f3eef154d479707"
        ],
        "x": 575,
        "y": 290,
        "wires": []
    },
    {
        "id": "36793bf0c58c598d",
        "type": "comment",
        "z": "d9d2020a42773879",
        "name": "Description",
        "info": "# Fridge\nThis flow turns the Cerbo GX relay 2 on or off either manualy or automaticaly.\nRelay 2 is supplies a 12v to the Fridges S+ input, signaling to use power from the battery/solar.\n\nThis is depentent on how your fridge is wired.\n\n## 3 modes\n - On (manual)\n - Off (manual)\n - Auto\n\n**On** and **off** turn relay 2 on an off manually.\n**Auto** will automaticaly determin when to turn the relay on or off based on the battery level\n\n**Auto* Switches the fridge to battery when there is no shore power(ehu) and the battery charge level reaches 98% or above.\n\n**Auto** Switches the fridge to off When the battery level goes below 95%",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d47383cb02df286",
        "type": "function",
        "z": "d9d2020a42773879",
        "name": "resolve fridge payload",
        "func": "if (msg.topic == undefined || msg.topic == '') {\n    node.error('topic not defined');\n    return;\n}\n\nvar fridgeMode = global.get(\"fridge-mode\");\nif (fridgeMode == undefined) {\n    fridgeMode = \"auto\";\n    global.set(\"fridge-mode\", fridgeMode)\n}\n\nif (msg.topic == \"fridge-mode\")\n    return;\n\nvar relayState = msg.payload.value == 1 ? \"on\" : \"off\";\nvar payload = fridgeMode == \"auto\" \n                ? \"auto\"\n                : relayState;\n                \nvar autoLabel = fridgeMode == \"auto\" \n                ? autoLabel = \"Auto (\" + relayState + \")\"\n                : autoLabel = \"Auto\";\n                \n    \nmsg.payload = payload; //auto,on,off\nmsg.fridge_auto_label = autoLabel;\nmsg.fridge_mode = fridgeMode; //auto, manual\nmsg.fridge_state = payload == \"auto\"\n                   ? payload + \"-\" + relayState\n                   : payload;\n                    \n\nmsg.ui_update = {options:[\n    {\"label\":\"Off\",\"icon\":\"power-off\",\"value\":\"off\"},\n    {\"label\":\"On\",\"icon\":\"power-on\",\"value\":\"on\"},\n    {\"label\":autoLabel,\"icon\":\"\",\"value\":\"auto\"}]};\n    \nnode.status({fill:\"blue\",shape:\"dot\",text:\"fridge mode:\" + fridgeMode + \", state:\" + relayState});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"water-on-time\") == undefined\n    || flow.get(\"water-schedule-enabled\") == undefined)  {\n    flow.set(\"water-schedule-enabled\", false);\n}\n",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "434621e9e6367595",
                "2b0bd9a566abcc0d"
            ]
        ]
    },
    {
        "id": "627dea9eee9f37fa",
        "type": "comment",
        "z": "d9d2020a42773879",
        "name": "Date: 22/Jul/2025",
        "info": "# Fridge\nThis flow turns the Cerbo GX relay 2 on or off either manualy or automaticaly.\nRelay 2 is supplies a 12v to the Fridges S+ input, signaling to use power from the battery/solar.\n\nThis is depentent on how your fridge is wired.\n\n## 3 modes\n - On (manual)\n - Off (manual)\n - Auto\n\n**On** and **off** turn relay 2 on an off manually.\n**Auto** will automaticaly determin when to turn the relay on or off based on the battery level\n\n**Auto* Switches the fridge to battery when there is no shore power(ehu) and the battery charge level reaches 98% or above.\n\n**Auto** Switches the fridge to off When the battery level goes below 95%",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "cc4ba79e8dc93fb5",
        "type": "mqtt-broker",
        "name": "cerbo",
        "broker": "192.168.10.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "58f8ed25a024fb50",
        "type": "ui-group",
        "name": "Settings",
        "page": "0e94453eb43f91ea",
        "width": "8",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0e94453eb43f91ea",
        "type": "ui-page",
        "name": "Motorhome",
        "ui": "563c3834aa95d21c",
        "path": "/grace",
        "icon": "rv-truck",
        "layout": "grid",
        "theme": "b4dc292b8e533b16",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "8"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "16"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "16"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "16"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "true"
    },
    {
        "id": "563c3834aa95d21c",
        "type": "ui-base",
        "name": "Motorhome",
        "path": "/dashboard",
        "appIcon": "rv-truck",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "none",
        "navigationStyle": "none",
        "titleBarStyle": "hidden",
        "showReconnectNotification": false,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": false,
        "allowInstall": true
    },
    {
        "id": "b4dc292b8e533b16",
        "type": "ui-theme",
        "name": "dark theme",
        "colors": {
            "surface": "#282828",
            "primary": "#0094ce",
            "bgPage": "#00374a",
            "groupBg": "#171821",
            "groupOutline": "#323344"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "2px",
            "groupGap": "6px",
            "groupBorderRadius": "12px",
            "widgetGap": "4px"
        },
        "info": "0094CE\n\n00374A\n\n171821"
    }
]